.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav-item:hover {
  text-decoration: underline;
}
.fa-user-circle {
  padding: 0 5px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.userName {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
}
.userName:hover {
  text-decoration: underline;
}
