.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav-item:hover {
  text-decoration: underline;
}
.fa-user-circle {
  padding: 10px;
}
.userName {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}
.userName:hover {
  text-decoration: underline;
}
