.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  /* margin: 0 auto; */
  margin-top: 0.5rem;
}

.edit-btn {
  padding: 8px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save-button {
  background-color: #00bc77;
  color: white;
}

.cancel-button {
  background-color: #b6b6b6;
  color: white;
}
.save-button:hover {
  background-color: #00bc77;
}
